[submodule "fpxlib3d"]
	path = modules/fpxlib3d
	url = https://git.goodgirl.dev/foorpyxof/fpxlib3d.git
[submodule "glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm.git
